PORT = 5000
MongoDB_URI="mongodb+srv://meaviishek_db_user:LtcAzvXPGTNJPmvC@ecofindsv1.xbodak0.mongodb.net/?retryWrites=true&w=majority&appName=EcoFindsv1"


JWT_SECRET = "j7364h34&%#fgufy8&hdfi1243275438469!$#&!#^*(#@!^)"
JWT_EXPIRATION = 7d